.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.userInput, .userOutput {
    width: 50%;
    padding: 1rem 1rem;
    margin: 3rem auto;
    border: 1px solid #ccc;
    box-shadow: 0.1rem 0.1rem 0.2rem #4a4a4a;
}